<template>
  <div class="w-mobile h-[1874px]">
    <div
      class="w-mobile h-[659px] top-0 left-[-137.22900390625px] backgroundgradient"
    >
      <div
        class="navbarstrip sticky top-0 left-0 w-mobile h-[5px] bg-gradient-to-r from-[#319795] to-[#3182CE]"
      ></div>
      <div
        class="navbar sticky top-[5px] left-0 w-mobile h-[67px] shadow-xl rounded-b-xl bg-white"
      >
        <p
          class="top-[31px] absolute text-[#319795] font-bold  left-[304px] h-[19px] text-left text-[14px] w-[39px] "
        >
          Login
        </p>
      </div>

      <div
        class="content text-[42px] text-center font-medium top-[90px] left-[20px] w-[320px] h-auto text-[#2D3748] mx-auto"
        style="letter-spacing: 1.26px;"
      >
        Deine Job website
      </div>

      <div
        class="top-[203px] heroimage opacity-1 left-[-12px] w-[418px] h-[405px]"
      >
        <img
          src="~/assets/images/undraw_agreement_aajr.svg"
          class="w-mobile"
          alt=""
        />
      </div>

      <div class="footer z-20 shadow-xl fixed bottom-0 w-full h-[60px]">
        <div
          class="w-full flex h-[67px] justify-center items-center rounded-t-customradius bg-white "
        >
          <button
            class="p-5   text-greenlighten rounded-lg button flex items-center justify-center  w-[320px] h-[40px]"
          >
            Kostenlos Registrieren
          </button>
        </div>
      </div>
    </div>

    <div
      class="grid ml-[20px] mt-2 duration-100 transition ease-in-out grid-cols-3 w-[481px] h-[40px]"
      :style="TranslateClass"
    >
      <button
        v-for="(data, index) in TextButton"
        :key="index"
        ref="menu"
        class="text-[#319795] w-[161px] font-bold transition ease-out duration-500 delay-75 text-[14px] text-center"
        :class="MoveIndex(index)"
        @click="Move(index)"
      >
        {{ data.text }}
      </button>
    </div>

    <div class="flex-col items-center flex h-[956px] w-full mt-5 mb-[14px]">
      <div class="top-[781px] mb-[14px]">
        <div
          class="w-[280px] text-[#4A5568] mx-auto flex items-center text-center"
        >
          <h1
            class="text-[21px] top-[781px] left-[40px] leading-[25px] flex justify-center font-bold"
            v-text="Content.Title"
          ></h1>
        </div>

        <div class="w-[320px] mt-[14px] h-[254px] flex flex-col">
          <div class="w-[220px] ml-[90px] h-[145px] top-[851px] left-[100px]">
            <img :src="require(`~/assets/images/${Content.Image1}`)" alt="" />
          </div>

          <div
            class="step1 top-[908px] left-[-34px] w-[208px] h-[208px] absolute rounded-full z-0"
          ></div>

          <p
            class="mb-0 text-[130px] left-[10px] absolute top-[882px] w-[106px] h-[156px] leading-[156px] font-medium text-[#718096] text-center"
          >
            1.
          </p>
          <p
            class="m-0 text-[#718096] leading-[19px] absolute top-[995px] left-[137px] w-[183px] h-auto text-[15.75px] text-left"
            v-text="Content.Step1"
          ></p>
        </div>
      </div>

      <div class="w-full h-[370px] step2 z-10 mt-5">
        <div class="w-[310px] mx-auto h-[282px] flex flex-col">
          <p
            class="top-[1115px] w-[106px] h-[156px] left-[43px] absolute text-[130px] text-center text-[#718096] leading-[156px]"
          >
            2.
          </p>
          <p
            class="top-[1227px] left-[162px] absolute text-[15.75px] text-[#718096] mb-0 leading-[19px] h-auto font-medium w-[183px]"
            v-text="Content.Step2"
          ></p>

          <div class="w-[181px] top-[1270px] left-[117px] absolute h-[127px]">
            <img :src="require(`~/assets/images/${Content.Image2}`)" alt="" />
          </div>
        </div>
      </div>

      <div
        class="step3 top-[1410px] left-[-54px] w-[304px] h-[303px] absolute rounded-full z-0"
      ></div>

      <p
        class="m-0 text-[130px] leading-[156px] text-center text-[#718096] font-medium top-[1410px] z-20 left-[54px] w-[106px] h-auto absolute "
      >
        3.
      </p>

      <p
        class="top-[1479px] left-[181px] absolute text-[15.75px] text-[#718096] mb-0 leading-[19px] h-auto font-medium w-[143px]"
        v-text="Content.Step3"
      ></p>

      <div class="w-[281px] top-[1526px] left-[72px] absolute h-[210px]">
        <img :src="require(`~/assets/images/${Content.Image3}`)" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      TranslateClass: "",
      CurrentIndex: 0,
      TextButton: [
        {
          id: 1,
          text: "Arbeitnehmer"
        },
        {
          id: 2,
          text: "Arbeitgeber"
        },
        {
          id: 3,
          text: "Temporärbüro"
        }
      ],
      DataContent: [
        {
          Title: "Drei einfache Schritte zu deinem neuen Job",
          Step1: "Erstellen dein Lebenslauf",
          Image1: "undraw_Profile_data_re_v81r.svg",
          Step2: "Erstellen dein Lebenslauf",
          Image2: "undraw_task_31wc.svg",
          Step3: "Mit nur einem Klick bewerben",
          Image3: "undraw_personal_file_222m.svg"
        },
        {
          Title: "Drei einfache Schritte zu deinem neuen Mitarbeiter",
          Step1: "Erstellen dein Unternehmensprofile",
          Image1: "undraw_Profile_data_re_v81r.svg",
          Step2: "Erstellen ein Jobinserat",
          Image2: "undraw_about_me_wa29.svg",
          Step3: "Wähle deinen neuen Mitarbeiter aus",
          Image3: "undraw_swipe_profiles1_i6mr.svg"
        },
        {
          Title: "Drei einfache Schritte zur Vermittlung neuer Mitarbeiter",
          Step1: "Erstellen dein Unternehmensprofile",
          Image1: "undraw_Profile_data_re_v81r.svg",
          Step2: "Erhalte Vermittlungs- angebot von Arbeitgeber",
          Image2: "undraw_job_offers_kw5d.svg",
          Step3: "Vermittlung nach Provision oder Stundenlohn",
          Image3: "undraw_business_deal_cpi9.svg"
        }
      ]
    };
  },

  computed: {
    Content() {
      return this.DataContent[this.CurrentIndex];
    }
  },

  methods: {
    MoveIndex(index) {
      if (index == this.CurrentIndex) {
        if (this.CurrentIndex == 0) {
          return "bg-[#81E6D9] text-white rounded-l-[12px]";
        } else if (this.CurrentIndex == 1) {
          return "bg-[#81E6D9] text-white";
        } else {
          return "bg-[#81E6D9] text-white rounded-r-[12px]";
        }
      } else {
        return "border border-[#CBD5E0]";
      }
    },
    Validation() {
      this.$refs.menu.forEach((element, index) => {
        if (index !== this.CurrentIndex) {
          element.classList.toggle("bg-[#3182CE]", "text-white");
          setTimeout(() => {
            element.classList.remove("bg-[#3182CE]", "text-white");
          }, 1000);
        }
      });
    },
    Move(index) {
      if (index == this.CurrentIndex) {
        this.Validation();
      } else {
        if (index > this.CurrentIndex) {
          if (index == 1) {
            this.TranslateClass = "transform: translateX(-87px)";
          } else if (index == 2) {
            this.TranslateClass = "transform: translateX(-147px)";
          }
        } else {
          if (index == 1) {
            this.TranslateClass = "transform: translateX(-87px)";
          } else if (index == 0) {
            this.TranslateClass = "transform: translateX(0px)";
          }
        }
      }
      this.CurrentIndex = index;
    }
  }
};
</script>

<style scoped>
.backgroundgradient {
  background: transparent linear-gradient(141deg, #ebf4ff 0%, #e6fffa 100%) 0%
    0% no-repeat padding-box;
}
.button {
  background: transparent linear-gradient(95deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}

.step1 {
  background: #f7fafc 0% 0% no-repeat padding-box;
}
.step2 {
  background: transparent linear-gradient(134deg, #e6fffa 0%, #ebf4ff 100%) 0%
    0% no-repeat padding-box;
}

.step3 {
  background: #f7fafc 0% 0% no-repeat padding-box;
  opacity: 1;
}
</style>
